#i-google {
    height: 25px;
    border-radius: 100%;
}

.btn-google {
    background-color: #4285F4;
    border-color: #4285F4;
}

#i-facebook {
    height: 25px;
    border-radius: 100%;
}

.btn-facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}

/* Cards Services */

#card-services {
    cursor: pointer;
    overflow:hidden;
}

#card-services:hover img {
    -ms-transform:scale(1.05);
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}

#card-services img {
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    }



 /* fournisseur    */
 .error{
     -webkit-box-shadow: 0 0 10px rgb(0,0,0,0.3);
     -moz-box-shadow:0 0 10px rgb(0,0,0,0.3);
     -o-box-shadow:0 0 10px rgb(0,0,0,0.3);
     background: red;
     box-shadow: 0 0 10px rgba(0,0,0,0.3);
     color:#fff;
     display:none;
     font-size:14px;
     margin-top: -80px;
     margin-left: 340px;
     padding: 10px;
    position:absolute;
 }